.gold-modal {
	opacity: 0;
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	transition: opacity 0.2s ease-in-out;
	background: rgba(#000, 0.15);
	backdrop-filter: blur(7px);
	top: 0;
	left: 0;
	overflow-y: auto;

	.modal__container {
		width: 100%;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;

		.modal__sub-container {
			// z-20 relative py-4 m-auto
			z-index: 20;
			position: relative;
			padding: 2rem 0;
			margin: auto;
		}
	}

	.modal__bg-close {
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.modal__card {
		transition: all 0.2s ease-in-out;
		transform: translateY(1.5rem);
		width: min(420px, 90vw);
		text-align: center;
		margin: 0 auto;
		border-radius: 0.75rem;
		background: #fff;
		overflow: hidden;
		position: relative;

		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		box-shadow: 0 1px 3px rgba(#000, 0.1), 0 12px 30px rgba(#000, 0.15);

		.card__title {
			font-family: 'Open Sans';
			text-align: center;
			padding: 2rem;
			padding-bottom: 0;

			.card__title-title {
				font-weight: bold;
				font-size: 2rem;
				line-height: 1.2em;
				margin: 0;
			}

		}

		.card__title-subtitle {
			margin: .25rem 0 0 0 ;
			padding: 0;
			font-size: .9rem;
			line-height: 1.2em;
		}

		.card__body {
			padding: 1rem 2rem;
		}

		.card__loading {
			padding: 2rem;
		}
	}

	&.--active {
		opacity: 1;
		pointer-events: all;

		.modal__card {
			pointer-events: initial;
			transform: none;
		}
	}

	.hiddenContent {
		opacity: 0;
		pointer-events: none;
	}
	.d-none {
		display: none !important;
	}

	/*=================================================================================================
	ICONS
	=================================================================================================*/

	i.ic {
		display: inline-block;
		position: relative;
		height: 1em;
		width: 1em;
		background: transparent 50% no-repeat;
		transition: all .25s ease-in-out;
	}
	i.ic * {
		transition: all 0s!important;
	}
	i.ic svg {
		position: absolute;
		top: 0;
		left: 0;
		width: 1em;
		height: 1em;
	}
	i.ic svg circle, i.ic svg ellipse, i.ic svg path {
		fill: currentColor;
	}

	.modal__close-button {
		font-size: 2rem;
		position: absolute;
		right: .5rem;
		top: .5rem;
		background: none;
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		border: none;
		cursor: pointer;
		color:rgba(0, 0, 0, .2);

		&:hover {
			color: rgba(0, 0, 0, .4);
		}
	}

	/*=================================================================================================
	OPTIONS
	=================================================================================================*/
	.modal__options {
		display: flex;
		justify-content: stretch;

		&.--vertical {
			flex-direction: column;
		}

		button {
			flex: 1;
			outline: none;
			padding: 1rem;
			border: none;
			border-top: 1px solid rgba(0, 0, 0, 0.1);
			border-right: 1px solid rgba(0, 0, 0, 0.1);
			cursor: pointer;
			font-size: 14px;
			line-height: 1em;
			font-weight: normal;
			color: #666;
			transition: all .2s ease-in-out;
			background: none;
			// @apply text-base font-bold transition-colors duration-300;
			// @apply text-gray-400 hover:bg-gray-200;

			&:hover {
				background: #eeeef5;
			}

			&:last-child {
				border-right: 0;
			}
		}
	}
}